# Eclipse files
.classpath
.settings
.project
.springBeans

# Intellij
.idea/
*.iml
*.iws

# Netbeans files
nbactions.xml

# Maven target folder
target/

# Eclipse build folder
bin/

# MAC stuff
.DS_Store

# Backup files
*~
.\#*
\#*\#

/dependency-reduced-pom.xml
